<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="referrer" content="origin-when-cross-origin">
    <meta name="description" content="Adshares CMS Bundle">
    <meta name="robots" content="index,follow">
    <title>Adshares CMS Bundle</title>
</head>
<body>
<div class="container">
    {% block body %}
        Adshares CMS Bundle
    {% endblock %}
</div>
</body>
</html>
