<div class="cms-history-list">
    <h1>
        No changes was made | Changes history
    </h1>
    <table class="table">
        <tr>
            <th colspan="3">testId1</th>
        </tr>
        <tr>
            <td>2022-15-15 12:45:14</td>
            <td>jan.kowalski@test.pl</td>
            <td></td>
        </tr>
        <tr>
            <td>2022-15-15 12:45:14</td>
            <td>jan.kowalski@test.pl</td>
            <td>
                <a href="#" class="btn btn-link btn-sm">Preview</a>
                <button class="btn btn-link btn-sm">Rollback</button>
            </td>
        </tr>
        <tr>
            <td>2022-15-15 12:45:14</td>
            <td>jan.kowalski@test.pl</td>
            <td>
                <a href="#" class="btn btn-link btn-sm">Preview</a>
                <button class="btn btn-link btn-sm">Rollback</button>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><i>origin</i></td>
            <td>
                <a href="#" class="btn btn-link btn-sm">Preview</a>
                <button class="btn btn-link btn-sm">Rollback</button>
            </td>
        </tr>
        <tr>
            <th colspan="3">testId1</th>
        </tr>
        <tr>
            <td>2022-15-15 12:45:14</td>
            <td>jan.kowalski@test.pl</td>
            <td>
                <a href="#" class="btn btn-link btn-sm">Preview</a>
                <button class="btn btn-link btn-sm">Rollback</button>
            </td>
        </tr>
        <tr>
            <td>2022-15-15 12:45:14</td>
            <td>jan.kowalski@test.pl</td>
            <td>
                <a href="#" class="btn btn-link btn-sm">Preview</a>
                <button class="btn btn-link btn-sm">Rollback</button>
            </td>
        </tr>
        <tr>
            <td>2022-15-15 12:45:14</td>
            <td>jan.kowalski@test.pl</td>
            <td>
                <a href="#" class="btn btn-link btn-sm">Preview</a>
                <button class="btn btn-link btn-sm">Rollback</button>
            </td>
        </tr>
    </table>
</div>